# Python
__pycache__/
*.pyc
.env

# Python and Json files
client.py
config.py
test.json 
honeypots.json
all_traffic.ndjson
events.json
blocked_ips.txt
# Node/React
node_modules/
dist/
build/
.local

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# GeoIP database
# *.mmdb
